@import '_fonts';
@import '_vars';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // Общепринятые правила для скрола на мелких экаранах 
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

// header :start 

.header__logo {
  max-width: 612px;
  margin: 0 auto;
}

.header__logo-img {
  max-width: 100%;
}

.header__nav {
  display: flex;
  margin-left: 60px;
  margin-top: 27px;

  form {
    display: flex;
  }
}

.nav__search-input {
  margin-right: 60px;

  input {
    width: 700px;
    background-color: $gray;
    border: none;
    color: #9F9F9F;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    height: 60px;

    &::placeholder {
      color: #9F9F9F;
    }
  }
}


.nav__search-button, .general__btn {
  button {
    transition: all .3s;
    font-weight: 600;
    color: $purple;
    border: 5px solid $purple;
    background-color: #fff;
    padding: 16px 22px 20px 22px;
    height: 60px;

    &:hover {
      color: #fff;
      background-color: $purple;
    }
  }
}

.nav__link--hover {
  transition: all .3s;

  &:hover {
    background-color: $purple;

    a {
      svg {
        fill: #fff;
      }
    }
  }
}



.nav__favorites,
.nav__random,
.nav__user {
  width: 60px;
  height: 60px;
  border: 5px solid $purple;
  margin-left: 30px;
  display: flex;
  justify-content: center;

  a {
    svg {
      fill: $purple;
      width: 48px;
    }
  }
}

.nav__favorites {
  margin-left: 60px;
  display: flex;
  // display: none;
}

.nav__random {
  margin-left: 150px;
}

.nav__favorites~.nav__random {
  margin-left: 30px;
}

// header end 
// words items :start 

.words {
  margin-top: 80px;

  .container {
    position: relative;
  }
}

.words__title {
  margin-left: 140px;
  margin-bottom: 53px;
  padding: 0 60px;
  color: $pink;
  font-size: 40px;
  font-weight: 600;
  margin-top: 113px;
}


.word__item {
  margin-top: 40px;
  background-color: $gray;
  width: 1000px;
  height: 511px;
  margin-left: 140px;
  padding: 60px;
}

.word__item-name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: $pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word__item-favorite {
  display: flex;
  align-items: center;

  button {
    font-size: 0;
    border: none;
    background-color: inherit;
    background-image: url('../images/heart_full.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 42px;
    height: 42px;
    cursor: pointer;
  }

  .favorite--clicked {
    background-image: url('../images/heart_color.png');
  }
}



.word__item-desc {
  font-size: 24px;
  font-weight: 400;
  margin-top: 44px;
}

.word__item-exapmple {
  font-family: 'Rubik-Italic';
  font-weight: 400;
  font-size: 24px;
  margin-top: 27px;
}

.word__item-authordate {
  font-size: 24px;
  font-weight: 400;
  margin-top: 76px;

  a {
    color: $pink;
    font-weight: 600;
    font-size: 24px;
  }
}

.word__item-marks {
  display: flex;
  margin-top: 59px;
  justify-content: space-between;
  align-items: center;
}

.word__item-markswrapper {
  display: flex;
}

.word__item-markslike,
.word__item-marksdislike {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  position: relative;

  svg {
    width: 48px;
    margin-left: 10px;
  }
}

.word__item-markslike {
  color: $green;

  svg {
    transition: all .3s;

    &:hover {
      fill: $green;
    }
  }
}

.word__item-marksdislike {
  color: $red;
  margin-left: 30px;

  svg {
    transition: all .3s;
    transform: scaleY(-1);

    &:hover {
      fill: $red;

    }
  }
}

.word__item-complain {
  transition: .3s;
  width: 42px;
  height: 42px;
  border: 5px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 25px;

    g {
      fill: #000;
    }
  }

  &:hover {
    background-color: #000;

    svg {
      g {
        fill: #fff;
      }
    }
  }
}

// words items end 

// social start 
.social {
  background-color: #000;
  width: 120px;
  height: 360px;
  position: absolute;
  right: -120px;
  top: 0;


  img {
    width: 60px;
  }
}

.social__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

// social end 

// footer :start 
.footer {
  padding: 37px;
  margin-top: 37px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;

}

// footert end 
// profile start 

.profile__info {
  margin-left: 140px;
  padding: 0 60px;
  width: 1000px;
}

.profile__info-user {
  display: flex;
  margin-top: 46px;
}

.profile__info-title {
  font-size: 40px;
  font-weight: 600;
  color: $pink;
  margin-top: 82px;
}

.info-user__personal-info {
  font-size: 24px;
  font-weight: 400;

  & div+div {
    margin-top: 28px;
  }
}

.info-user__actions {
  color: $purple;
  font-size: 24px;
  font-weight: 400;
  margin: auto 0 0 218px;
}

.actions__exit {
  margin-top: 27px;
}

// profile end 
// complain start

.complain__form, .common_unit {
  margin-top: 71px;
}

.complain__form-wrapper {
  width: 700px;
  margin-left: 290px;
}

.complain__form-title, .common_unit-title {
  font-size: 40px;
  font-weight: 600;
  padding: 0 19px;

  span {
    color: $pink;
  }
}

.complain__form-desc, .common_unit-desc {
  padding: 0 19px;
  margin-top: 68px;
  font-size: 20px;
  font-weight: 400;
}

.complain__form-form {
  margin-top: 26px;

  textarea {
    border: none;
    background-color: $gray;
    resize: none;
    width: 700px;
    height: 150px;
    padding: 20px;
    color: #9F9F9F;
    font-size: 18px;
    font-weight: 400;
    margin-top: 26px;

    &::placeholder {
      color: #9F9F9F;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.complain__form-formbnts, .add-word__form-formbnts {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 142px;

  button:last-child {
    margin-left: 58px;
  }
}

// complain :end 
// add_word start 

.add-word__title {
  margin-top: 42px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.add-word__form-wrapper {
  width: 600px;
  margin: 0 auto;
}

.add-word-desc {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;

  span {
    color: $pink;
  }
}

.complain__form-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;

  label {
    width: 100%;
    padding: 21px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
  }

  label + label {
    margin-top: 15px;
  }

  input {
    width: 100%;
    color: #9F9F9F;
    padding: 20px;
    background-color: $gray;
    border: none;

    &::placeholder {
      color: #9F9F9F;
    }
  }
}

.add-word__form-formbnts {
  margin-bottom: 7px;
}
// add word end 
// login :start 

.login__form-wrapper, .registration__form-wrapper {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 51px;
}

.login__form-formbnts.general__btn,
.registration__form-formbnts.general__btn {
  margin-top: 45px;
  button.login__form-btn, 
  button.registration__form-btn {
    margin-left: 0;
  }
}

.login__reg-link, .registration__reg-link {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 204px;

  a {
    color: $purple;
    cursor: pointer;
  }
}

// login :end 
// registration start 



// registration end 